#vantajs {
  width: 100%;
  height: 100vh;
}

h1 {
  color: rgba(126, 252, 252, 0.651) !important;
  0x6fc9e6
}

@media screen and (max-width: 1024px) {
  #vantajs {
    max-height: 100vh;
  }

  h1 {
    font-size: 1.5rem;
  }
}
